html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  position: fixed;
  bottom: 0%;
  right: 0%;
}

.button2 {
  font-size: 72px;
  position: fixed;
  left: 42%;
}

.footer {
  width: 100%;
  background: rgba(0, 0, 0, .6);
  color: rgba(255, 255, 255, .8);
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  position: fixed;
  bottom: 0px;
}
