html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  position: fixed;
  bottom: 0%;
  right: 0%;
}

.button2 {
  font-size: 72px;
  position: fixed;
  left: 42%;
}

